@import url("https://db.onlinewebfonts.com/c/d4ccc48c66b7c07c692ae80633360821?family=Breamcatcher-Regular");

$cool-grey: #97a4a7;
$deep-teal: #00435d;
$background-img: url('./assets/group-243.svg');
$background-gradient: linear-gradient(rgba(0, 0, 0, 1), rgba(6, 60, 71, 0.85));

html, body, .container-fluid {
    height:100%;
}

.App {
  background: $background-gradient, $background-img;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  text-align: center;
}

.home {
  height : 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 768px){

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
